#box{outline:none;padding:0;margin:0;width:100%}
.clr{clear:both}
.invisible{display:none}
span.clr{display:block;clear:both}
#box ul{padding:0;margin:0}
#box li{list-style-type:none;text-align:center;display:inline-block}
.sha-mbuttons{float:left;margin:0 9% 0 0;padding:7px 0 0}

#tab-module .ui-state-default, #tab-module .ui-corner-all, #tab-module .ui-corner-right, #tab-module .ui-corner-br {
background: #EEE none;
border-top-left-radius:0;
border-top-right-radius:0;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
-moz-border-top-left-radius:0;
-moz-border-top-right-radius:0;
-moz-border-bottom-left-radius:0;
-moz-border-bottom-right-radius:0;
-webkit-border-top-left-radius:0;
-webkit-border-top-right-radius:0;
-webkit-border-bottom-left-radius:0;
-webkit-border-bottom-right-radius:0;
-moz-border-radius-bottomright:0;
-khtml-border-bottom-right-radius:0;
-moz-border-radius-bottomleft:0;
-khtml-border-bottom-left-radius:0;
-moz-border-radius-topright:0;
-khtml-border-top-right-radius:0;
-moz-border-radius-topleft:0;
-khtml-border-top-left-radius:0;
padding: 5px 0 5px 30px
}
#tab-module .ui-corner-top, #tab-module .ui-corner-bottom {
background: #FAFAFA;
border-top-left-radius:0;
border-top-right-radius:0;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
-moz-border-top-left-radius:0;
-moz-border-top-right-radius:0;
-moz-border-bottom-left-radius:0;
-moz-border-bottom-right-radius:0;
-webkit-border-top-left-radius:0;
-webkit-border-top-right-radius:0;
-webkit-border-bottom-left-radius:0;
-webkit-border-bottom-right-radius:0;
-moz-border-radius-bottomright:0;
-khtml-border-bottom-right-radius:0;
-moz-border-radius-bottomleft:0;
-khtml-border-bottom-left-radius:0;
-moz-border-radius-topright:0;
-khtml-border-top-right-radius:0;
-moz-border-radius-topleft:0;
-khtml-border-top-left-radius:0;
padding: 5px 0 5px 30px 
}
#tab-module .ui-accordion-header {
color: #7A7A7A
}
#tab-module .ui-state-active {
font-size: 22px; 
color: #1C94C4
}
div.htabs > a{
color: #ccc
}
div.directory_tab a.all {
margin-right: 9px
}
div.htabs > a.selected {
color:#000
}
div.accordion > div > div, div.directory-1 > div{
cursor: pointer;
padding: 1px 5px 1px 0;
overflow: hidden;
float: left;
clear: both;
font-size: 17px;
line-height: 18px;
width: 97%
}
div.accordion > div > div xmp, div.directory-1 > div xmp {
margin: 0;
max-width: 500px;
overflow: hidden;
font-weight: normal;
color: #000;
font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif
}
div.directory-1 > div{
font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
margin-left: 35px
}
span.file_set {
border-bottom: 1px solid #FAFAFA
}
div.accordion > div > div:hover, div.directory-1 > div:hover{
background:#FFFEF9 none
}
div.accordion > div > div:hover .file_set, div.directory-1 > div:hover .file_set {
text-decoration:underline
}
span.file_var {
opacity:0.7;
min-width:21%
}
/* span.text_langbutton {
display: none
} */
div.accordion > div > div > span, div.directory-1 > div > span{
float:left;
line-height: 21px;
padding: 4px
}
div.accordion > div > div > span.ui-icon, div.directory-1 > div span.ui-icon {
margin-left: 25px;
display: none;
padding: 0;
margin-top: 7px
}
div.accordion > div > div:hover > span.ui-icon, div.directory-1 > div:hover span.ui-icon{
display: block
}
#tab-module  input.file_input {
display: none;
margin: 0;
height: 27px;
line-height: 27px;
padding: 0 3px 0 37px;
font-size: 14px;
max-width: 900px;
z-index: 90;
position: relative;
box-sizing: border-box
}
div.result_somelanguage {
display: none;
min-height: 70px;
margin: 5px 16px 12px 0;
padding: 7px 20px 10px 22%;
overflow: hidden
}
input.file_input_more{
margin: 0 33px 12px 0;
font-size: 14px !important;
max-width: 900px;
float: left;
font-weight: normal;
padding: 0 3px 0 37px;
z-index: 90;
position: relative;
height: 23px;
line-height: 23px
}
span.flag_wrapp {
border-right: 1px solid #A0A0A0;
display: block;
float: left;
height: 18px !important;
line-height: 11px !important;
margin: 1px -33px 0 0;
overflow: hidden;
padding: 7px 7px 0 !important;
position: relative;
z-index: 100
}
#language {
float: left
}
.loadzip {
float: left;
cursor: pointer;
border: 5px solid #FFF;
box-shadow: 0 0 1px #474747;
margin-left: 25px;
margin-right: 0
}
.loadzip:hover{
background-image: url(../javascript/jquery/ui/themes/base/images/ui-icons_2e83ff_256x240.png);
box-shadow:0 0 1px #000AFF
}
#control_block{float:right}
span.short_lang {
width: 17px;
display: block;
overflow: hidden;
font-size: 16px
}
div.result_somelanguage.height1 {
min-height: 1px;
height: 1px;
padding: 0
}
div.redact {
background: #FFF none;
border-top: 3px solid #DDD;
border-bottom: 3px solid #DDD;
padding: 7px 0 !important
}
div.redact + div.redact {
border-top:0px
}
span.text_langbutton {
display: none;
opacity: 0.4;
font-size: 11px;
float: right !important
}
span.text_langbutton:hover {
opacity:1
}
#spin {
position: fixed;
top: 50%;
left: 50%
}

/* end */

/* info */
div.info {
border: 1px solid #BDBDBD;
padding: 5px 0 5px 15px;
margin: 0 0 15px;
background: #F9F9FF none;
color: #000;
position: relative;
height: 26px;
line-height: 26px
}
/* search */
#text_search {
float: left;
margin: 0 0 0 10px;
position: relative
}
#text_search input[type="text"] {
height: 23px;
line-height: 23px;
padding: 0 14px 0 7px;
display: block;
margin: 0
}
div.text_search_btn {
position: absolute;
right: 4px;
top: 5px;
background-color: #FFF;
border: none;
cursor: pointer;
width: 19px;
height: 19px;
outline:none
}
div.text_search_btn:hover {
background-image: url(../javascript/jquery/ui/themes/base/images/ui-icons_2e83ff_256x240.png)
}
#tab-language {
padding:10px 0 0
}
#tab-language .pickout{
background:#E2E2E2 none;
color:#B48A94
}
#tab-language .pickout.selected{
background:#FFF none
}
a.button_home {
text-decoration: none;
color: #003A88;
display: inline-block;
padding: 5px 15px 5px 15px;
background:#E4E4E4;
border: 1px solid #E4E4E4;
margin: 0 0 0 5px;
font-weight: bold;
font-style: italic;
}
a.button_home:hover {
background: none;
border: 1px solid #A2A2A2;
color: #000;
}
.text_search_res{
position: absolute;
right: 21px;
top: 5px;
background-color: #FFF;
border: none;
cursor: pointer;
width: 19px;
height: 19px;
outline: none
}

/* infoclose */
div.infoclose{border:1px solid #BDBDBD;padding:5px 35px 4px 15px;margin:0 0 15px;background:#FDF7F7 none;color:#D45959;position:relative;float:left}
div.infoclose button{border:1px solid #FDF7F7;background:#FDF7F7 none;color:#424242;cursor:pointer;position:absolute;right:4px;top:0}
div.infoclose button:hover{border:1px solid #DD7E7E;background: #FFF none;color:#F00}